/*
 Theme Name:   Olesya-lite-Child
 Theme URI:    http://example.com/twenty-sixteen-child/
 Description:  Twenty Fifteen Child Theme
 Author:       Esheel Anand
 Author URI:   http://example.com
 Template:     olesya-lite
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
 Text Domain:  olesya-lite
*/

.site{
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: relative;
   
}
.content-area{
    background-color: blue;
    width: 100%;
}
.site-main{
    width: 100%;
}

.site-content{
    display: inline;
    background-color: red;
}

.site-header{
    width: 42%;
    margin-top: -55px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}
.custom-logo-link{
    width: 100%;
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    height: 10px;
}
.site-footer{
    width: 42%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}
.entry-content a{
   float: right;
  
}


.main-navigation {
    background-color: #444444;
   position: relative;
    width: 42%;
    height: 50px;
    margin-top: 2%;

    margin-left: 29%;
    margin-right: auto;
}

/* Style the links inside the navigation bar */
.main-navigation a {
   
    display: block;
    color: #d794b9;
    text-align: green;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin-top: -10%;
}

/* Change the color of links on hover */
.main-navigation a:hover {
    background-color: #ddd;
    color: black;
}
.grid {
  
    display: grid;
    grid-column-gap: 50px;
    background-color: white;
    
    grid-template-columns: repeat(4, 1fr);
    
   float: left;
   
  }

.divcontent:hover{

transform: scale(1.1);
}
.food{
    
    width: 100%;
}
@media screen and (min-width: 300px) and (max-width: 800px){
    .site-footer{
        width: 100%;
    }
    .grid{ 
        grid-template-columns: repeat(1, 4fr);
      }
      .banner{
        width: 100%;
    }
    .site-header{
        margin-right: auto;
    margin-left: auto;
        width: 100%;
        margin-top: auto;
        margin-bottom: auto;
    }
  .main-navigation{
      margin-top:3%;
    margin-right: auto;
    margin-left: auto;
      width: 100%;
  }
.grid > img{
    width: 100%;
}
.grid > p{
    margin-top: auto;
    margin-bottom: auto;
}
.content-area{
    width: 100%;
}
}
@media screen  and (min-width: 1010px) and (max-width: 1366px)

{
    .site-footer{
        margin-right: auto;
    margin-left: auto;
        width: 100%;
        margin-top: auto;
        margin-bottom: auto;
    }
   .grid{
       grid-template-columns: repeat(2,4fr);
     }
   .custom-logo{
    margin-right: auto;
    margin-left: auto;
        width: 100%;
        margin-top: -6%;
        margin-bottom: auto;

   }
    .site-header{
        margin-right: auto;
    margin-left: auto;
        width: 60%;
        margin-top: auto;
        margin-bottom: auto;
    }
  .main-navigation{
      margin-top:3%;
    margin-right: auto;
    margin-left: auto;
      width: 60%;
  }
.grid > img{
    width: 100%;
}
.grid > p{
    margin-top: auto;
    margin-bottom: auto;
}
.content-area{
    width: 100%;
}
 

     }